# DB_HOST=host.docker.internal
DB_HOST=localhost
DB_USER=user
DB_PASS=password
DB_NAME=ampopo_gogo
DB_PORT=5432
REDIS_ADDR=localhost:6379
AUTH_SECRET_KEY=a-string-secret-at-least-256-bits-long
OMISE_PUBLIC_KEY=xxxxx
OMISE_SECRET_KEY=yyyyy
